.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #E6FFD6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
  -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
  -webkit-background-size: 10px 10px;
}
ul, li {
  list-style: none;
}
ul {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
.wrapper {
  margin: 0  auto;
  width: 960px;
  box-sizing: border-box;
  padding: 20px;
  font-family: "M PLUS Rounded 1c";
}
/* @media screen and (max-width:768px) {
  .wrapper{
    width: 100%;
    padding: 10px;
  }
} */
.title{
  font-weight: bold;
  font-size: 1.5em;
}
.pageCount {
  margin-top: 30px;
}
table {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}
tr {
  background-color: #fff;
}
.tableHeader {
  background-color: #ccc;
}
.photo {
  width: 100px;
  height: auto;
}
.detail {
  display: flex;
  width: 550px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.detail ul:first-child {
  margin-right: 20px;
}
.detail-item {
  display: inline-block;
  width: 120px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.pageNum {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pageNum li {
  margin-left: 10px;
  color: #000080;
}
.pageNum li:first-child {
  margin-left: 0;
}
.input {
  border-radius: 3px;
  padding: 5px;
  border-style: none;
  border: 1px solid #ccc;
}
.button {
  margin-left: 10px;
  font-family: "M PLUS Rounded 1c";
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 1;
}
